.wrap {
  display: flex;
  width: 100%;
}
.left {
  flex: 7;
  .content {
    .header {
      display: inline-block;
    }
    .date-radio {
      float: right;
      margin-top: 6px;
      margin-right: 10px;
    }
    .sale-echarts {
      width: 100%;
      min-height: 340px;
      margin-right: 10px;
    }
  }
}
.right {
  position: relative;
  flex: 3;
  margin-top: 6px;
  margin-left: 20px;
  .city-radio {
    position: absolute;
    right: 0;
  }
  .sale-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px 20px;
    margin-top: 64px;
    table {
      width: 100%;
    }
    tr {
      width: 100%;
    }
    td {
      width: 50%;
    }
    .item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      // width: 300px;
      height: 120px;
      padding-left: 20px;
      font-size: 14px;
      color: #ffffff;
      background: #ffffff;
      background-image: url("@/assets/images/card-red.png");
      background-size: 100% 100%;
      border: 1px solid #d7d7d7;
      border-radius: 10px;
      .title {
        margin-right: 20px;
        text-align: right;
      }
      .top {
        display: flex;
        align-items: center;
        justify-content: left;
      }
      .bottom {
        display: flex;
        align-items: center;
        justify-content: left;
        font-size: 24px;
        color: #ffffff;
      }
    }
  }
}
